* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;

}

.game-wrap {
    height: 100%;
    .layout {
        .header {
            background-color: #f6f6f6;
            .menu{
                background-color: transparent;
            }
        }
    }
}